@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor00: #1B1F31;
    --cor01: #3B446B;
    --cor02: #3B446B;
    --cor03: #5A68A4;
    --cor04: #7A8CDD;

}
body{
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor04));
    height: 100vh;
}
main{/*Com os comando max e min no width eu gero responsividade na página com os elementos se adaptando a largura da tela*/
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
    height: 100vh;
}
header{
    background-color: var(--cor01);
    color: white;
    width: 100%;
}
header > h1{
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    max-width: 700px;
    margin: auto;
}
header > h4{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.1em;
    max-width: 500px;
    text-align: center;
    
}

nav{
    background-color: var(--cor02);
    text-align: right;
    height: auto;
    width: auto;
    padding: 5px;
    border-top: 1px solid white;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
a:hover{
    background-color: var(--cor04);
    border-radius: 5px;
}
section{
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor03));
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
@media(max-width: 500px){
    section{
        flex-direction: column;
        align-items: center;
    }
}
 section > aside > h2, h3, p {
    color: white;
    flex: 1;
    margin-top: 10px;
    text-align: center;
    max-width: 400px;
    padding-right: 5px;
}
aside > p{
    color: white;
    flex: 1;
    text-align: justify;
    padding: 10px;
}

section > img{
    flex: 1;
    margin-top: 20px;
    width: 50%;
   
}


footer{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04));
    height: auto;
    padding-top: 20px;
    border-top: 1px solid white;
}
p.rodape {
    color: black;
    font-size: 2.2vw;
    display: inline;
    padding: 0px 10px 0px 10px;
}
footer > div{
    display: inline;
}
.ico{
    width: 3%;  
}
.logo{
    
    width: 3%;
}